
.markdown {


  code {
    padding: 1em;
  }

  pre,
  code {
    font-size: 1rem;
    border-radius: 0.5rem;

    word-break: break-all;
    white-space: pre-wrap;
  }

  pre {
    overflow: auto;
    max-width: 100%;
  }

  code {
    display: block;
    overflow-x: auto;

    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1em;
  }
  p:not(:first-child) {
    margin-top: 0.5em;
  }
  p {
    @apply whitespace-pre-wrap break-words;
  }
}
